<div class="mt-4 pt-4">
  <div class="jumbotron bg-white border container p-4 mx-auto">
    <h1 class="display-4">Links For Covid Care</h1>
    <div>
      <img
        src="https://img2.storyblok.com/filters:quality(90)/f/81332/1920x640/a7e35fc94b/hero-1920-640-spotlight-on-vaccines-covid-hub-hero-block.jpg"
        alt=""
        width="100%"
        height="400px"
      />
    </div>

    <p class="lead mt-3"><strong>Stay Safe Stay Healthy</strong></p>
    <hr class="my-4" />
    <a
      href="https://www.psa.gov.in/innerPage/psa-initiatives/home-care-tips-managing-covid-19/2820/2820"
      >Home Care tips for managing covid-19</a
    >
    <hr />
    <a href="https://www.cowin.gov.in/home">Co-Win Vaccination</a>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
