<h1 style="text-align: center; margin-top:30px;">Admin Dashboard</h1>
<div
  class="
    row row-cols-2
    vh-100
    min-vh-100
    
  "
  style="min-height: 697px;margin-top: 60px;"
>
  <div class="col-6">
    <iframe
      style="
        background: #FFFFFF;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      width="600"
      height="400"
      src="https://charts.mongodb.com/charts-project-0-hecwk/embed/charts?id=e8187fd3-b517-4822-89d8-594209da759d&theme=light"
    ></iframe>
  </div>

  <div class="col-6">
    <iframe
      style="
        background: #FFFFFF;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
      "
      width="600"
      height="400"
      src="https://charts.mongodb.com/charts-project-0-hecwk/embed/charts?id=a8c33d32-9843-4cb7-8ff8-6ec349a3b56a&theme=light"
    ></iframe>
  </div>
</div>
