<div class="row row-cols-2 min-vh-100 vh-100" style="min-height: 697px">
  <div class="col-2 bg-dark" style="padding-left: 30px">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="dashboard" class="nav-link active">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Dashboard
        </a>
      </li>

      <li>
        <a routerLink="orders" class="nav-link">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table" />
          </svg>
          Orders
        </a>
      </li>
      <li>
        <a routerLink="products" class="nav-link">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Products
        </a>
      </li>
      <li>
        <a routerLink="users" class="nav-link">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Customers
        </a>
      </li>
    </ul>
  </div>
  <div role="main" class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
